<main class="xp-desktop cad-produtos-page">
<div class="xp-window xp-window--auth" cdkDrag [cdkDragFreeDragPosition]="startPosition">
  <div class="xp-titlebar">
    <h2>Cadastrar Produto</h2>
    <div class="xp-window-controls" aria-hidden="true">
      <span class="xp-window-control">_</span>
      <span class="xp-window-control">[ ]</span>
      <span class="xp-window-control xp-window-control--close">X</span>
    </div>
  </div>
      <div class="xp-toolbar">
        <button class="btn-delete" (click)="fecharcad()">Fechar</button>
  </div>
  <div class="xp-body">
  <!-- Conecta o formulário HTML ao FormGroup do TS -->
  <form class="xp-form" [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    
    <input type="text" formControlName="nome" placeholder="Nome do produto" />
    <!-- Feedback visual de erro -->
   @if (cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched) {
      <small class="xp-error">
        Nome inválido ou vazio.
      </small>
    }

    <input type="text" formControlName="preco" placeholder="Preço do produto" />
    @if (cadastroForm.get('preco')?.invalid && cadastroForm.get('preco')?.touched) {
      <small class="xp-error">
        O preço é inválido ou vazio.
      </small>
    }

    <input type="text" formControlName="estoque" placeholder="Estoque do produto" />
    @if (cadastroForm.get('estoque')?.invalid && cadastroForm.get('estoque')?.touched) {
      <small class="xp-error">
        O estoque é inválido ou vazio.
      </small>
    }

    <!-- Botão só fica clicável se o formulário for válido -->
    <button type="submit" [disabled]="cadastroForm.invalid">Cadastrar</button>
  </form>
  </div>
</div>
</main>
